<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999798420890-k0fqi5q2ldhej5kp90jgrefhajtmh3n6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999798420890-k0fqi5q2ldhej5kp90jgrefhajtmh3n6</string>
	<key>API_KEY</key>
	<string>AIzaSyDqrAq85jabLCvysAMtYxdBZw5v-zNpk7M</string>
	<key>GCM_SENDER_ID</key>
	<string>999798420890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apexiveDemo</string>
	<key>PROJECT_ID</key>
	<string>apexive-b91f0</string>
	<key>STORAGE_BUCKET</key>
	<string>apexive-b91f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999798420890:ios:11d969bd527ad6cd737623</string>
</dict>
</plist>